{% extends "covid19triage/base.html" %}
{% load i18n static %}

{% block content %}
  <ul>
    <li><a href="{% url "covid19triage:myactiveassessments" %}">{% trans "My Active Assessments" %}</a></li>
    <li><a href="{% url "covid19triage:myassessments" %}">{% trans "My Assessments" %}</a></li>
    <li><a href="{% url "covid19triage:unclaimedassessments" %}">{% trans "Unclaimed Assessments" %}</a></li>
    <li><a href="{% url "covid19triage:activeassessments" %}">{% trans "Active Assessments" %}</a></li>
    <li><a href="{% url "covid19triage:completedassessments" %}">{% trans "Completed Assessments" %}</a></li>
  </ul>
  <div class="app-covid19triage module">
    <table>
      <caption>
        {% trans "Open Assessments" %}
      </caption>
      <thead>
        <th>{% trans "Patient" %}</th>
        <th>{% trans "Score" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Owner" %}</th>
        <th>{% trans "Created" context "date and time patient complete questions" %}</th>
        <th>{% trans "Updated" context "date and time a doctor last updated the assessment" %}</th>
      <tbody>
        {% for assessment in object_list %}
          <tr class="model-assessment">
            <th>
              <a href="{% url "covid19triage:assessment" pk=assessment.pk %}">
                {{ assessment.patientfactors.patient }}
              </a>
            </th>
            <th>
              <a href="{% url "covid19triage:assessment" pk=assessment.pk %}">
                {{ assessment.score }}
              </a>
            </th>
            <td>
              <a href="{% url "covid19triage:assessment" pk=assessment.pk %}">
                {{ assessment.status }}
              </a>
            </td>
            <td>
              {% if assessment.owner %}
                <a href="{% url "covid19triage:assessment" pk=assessment.pk %}">
                  {% firstof assessment.owner.get_short_name assessment.owner.get_username %}
                </a>
              {% endif %}
            </td>
            <th>
              <a href="{% url "covid19triage:assessment" pk=assessment.pk %}">
                {{ assessment.ctime|timesince }}
              </a>
            </th>
            <th>
              <a href="{% url "covid19triage:assessment" pk=assessment.pk %}">
                {{ assessment.updated|timesince }}
              </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not object_list %}
      {% trans "There are no matching assessments." %}
    {% endif %}
  </div>
{% endblock %}
