{% extends "covid19triage/base.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "covid19triage/css/languages.css" %}">
{% endblock %}

{% block bodyclass %}languages{% endblock %}

{% block content %}
<div id="content-main">
    {% get_available_languages as languages %}
    {% get_current_language as currentlanguage %}
    {% for language in languages %}
      {% if language.0 != currentlanguage %}
        <a href="{% language language.0 %}{% url "covid19triage:index" %}{% endlanguage %}">
          {{ language.0 | language_name_local }} ({{ language.0 | language_name_translated }})
        </a>
      {% endif %}
    {% endfor %}
  <div class="begin">
    <a class="next" href="{% url "covid19triage:intro" %}">
      {% trans "Continue in English" context "Continue in $CURRENT_LANGUAGE: продолжайте на русском" %}
    </a>
  </div>
  <p>{% trans "Please call for an ambulance (103 in Kyrgyzstan) immediately if you experience any of the following:" %}</p>
  <ul>
    <li>{% trans "Cyanosis of the face or extremities" %}</li>
    <li>{% trans "Seizures" %}</li>
    <li>{% trans "Symptoms of stroke (asymmetry of the face, paralysis of extremities, impaired speech)" %}</li>
    <li>{% trans "Disorientation or fainting" %}</li>
    <li>{% trans "Symptoms of angina (chest pain which radiates to the left arm, shoulder or lower jaw)" %}</li>
  </ul>
</div>
{% endblock %}
