{% extends "covid19triage/base.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "covid19triage/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url "covid19triage:index" %}">{% trans "Home" %}</a> &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

  <div id="content-main">
    <form method="post">
      {% csrf_token %}
      <fieldset class="module aligned">
        <div class="form-row">
            {{ form.forwhom.errors }}
            {{ form.forwhom.label_tag }} {{ form.forwhom }}
        </div>
        <div class="form-row">
            {{ form.firstname.errors }}
            {{ form.firstname.label_tag }} {{ form.firstname }}
        </div>
        <div class="form-row">
          {{ form.lastname.errors }}
          {{ form.lastname.label_tag }} {{ form.lastname }}
        </div>
        <div class="form-row">
          {{ form.gender.errors }}
          {{ form.gender.label_tag }} {{ form.gender }}
        </div>
        <div class="form-row">
          {{ form.dob.errors }}
          {{ form.dob.label_tag }} {{ form.dob }}
        </div>
        <div class="submit-row">
          <input type="submit" value="{% trans "Next »" context "Next button label" %}" class="default" />
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
