{% extends "covid19triage/base.html" %}
{% load i18n static labeltagwithcontents %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "covid19triage/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "covid19triage/css/patientfactors.css" %}">
<script type="text/javascript" src="{% static "covid19triage/js/patientfactors.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url "covid19triage:index" %}">{% trans "Home" %}</a> &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

  <div id="content-main">
    <form action="{% url "covid19triage:patientfactors" %}" method="post">
      {% csrf_token %}
      <fieldset class="module aligned">
        <div class="form-row">
          {{ form.symptoms.errors }}

          {% if secondperson %}
            {% trans "Do you have any of the following symptoms?" as symptoms_label %}
            {{ form.symptoms|labeltagwithcontents:symptoms_label }}
          {% else %}
            {{ form.symptoms.label_tag }}
          {% endif %}

          {{ form.symptoms }}
        </div>
        <div class="form-row temperature">
          {{ form.temperature.errors }}

          {% if secondperson %}
            {% trans "Your highest temperature within 24 hours" as temperature_label %}
            {{ form.temperature|labeltagwithcontents:temperature_label }}
          {% else %}
            {{ form.temperature.label_tag }}
          {% endif %}

          {{ form.temperature }}
        </div>
        <div class="form-row">
          {{ form.cough.errors }}

          {% if secondperson %}
            {% trans "How would you describe your cough?" as cough_label %}
            {{ form.cough|labeltagwithcontents:cough_label }}
          {% else %}
            {{ form.cough.label_tag }}
          {% endif %}

          {{ form.cough }}
        </div>
        <div class="form-row">
          {{ form.shortnessofbreath.errors }}

          {% if secondperson %}
            {% trans "How would you describe your shortness of breath?" as shortnessofbreath_label %}
            {{ form.shortnessofbreath|labeltagwithcontents:shortnessofbreath_label }}
          {% else %}
            {{ form.shortnessofbreath.label_tag }}
          {% endif %}

          {{ form.shortnessofbreath }}
        </div>
        {% if askaboutpregnancy %}
          <div class="form-row">
            {{ form.pregnant.errors }}

            {% if secondperson %}
              {% trans "Are you pregnant or expecting to become pregnant?" as pregnant_label %}
              {{ form.pregnant|labeltagwithcontents:pregnant_label }}
            {% else %}
              {{ form.pregnant.label_tag }}
            {% endif %}

            {{ form.pregnant }}
          </div>
        {% endif %}
        <div class="form-row">
          {{ form.contact.errors }}

          {% if secondperson %}
            {% trans "Have you been in contact with someone who is sick?" as contact_label %}
            {{ form.contact|labeltagwithcontents:contact_label }}
          {% else %}
            {{ form.contact.label_tag }}
          {% endif %}

          {{ form.contact }}
        </div>
        <div class="form-row">

          {{ form.smokeorvape.errors }}

          {% if secondperson %}
            {% trans "Do you smoke or vape or use e-cigarettes?" as smokeorvape_label %}
            {{ form.smokeorvape|labeltagwithcontents:smokeorvape_label }}
          {% else %}
            {{ form.smokeorvape.label_tag }}
          {% endif %}

          {{ form.smokeorvape }}
        </div>
        <div class="form-row">

          {{ form.risks.errors }}

          {% if secondperson %}
            {% trans "Do you have any of the following conditions?" as risks_label %}
            {{ form.risks|labeltagwithcontents:risks_label }}
          {% else %}
            {{ form.risks.label_tag }}
          {% endif %}

          {{ form.risks }}
        </div>
        <div class="form-row">

          {{ form.cancer.errors }}

          {% if secondperson %}
            {% trans "Are you currently under treatment for cancer?" as cancer_label %}
            {{ form.cancer|labeltagwithcontents:cancer_label }}
          {% else %}
          {{ form.cancer.label_tag }}
            {% endif %}

          {{ form.cancer }}
        </div>
        <div class="submit-row">
          <input type="submit" value="{% trans "Next »" context "Next button label" %}" class="default" />
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
